@CHARSET "UTF-8";

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

h1 {
	font-size: 20px;
	color: #bf9876;
	background-image: url("../images/banner02.png");
	margin: 5px auto 0 auto;
	padding: 18px;
	border-style: solid;
	border-color: #C2C1D4;
	border-width: 1px;
	border-radius: 8px;
	font-family: Times New Roman, serif;
}

h2 {
	
	background-color: CadetBlue;
	color: #ffffff;
	font-size: 24px;
	margin: 0% 0% 5% 0%;
	font-family: Times New Roman, serif;
	text-align: center;
		
	border-radius: 8px;
	border-style: solid;
	border-color: #C2C1D4;
	border-width: 1px;
	width: 100%;
	height: auto;
}

h3 {
	
}

h4 {
	vertical-align: left;
	font-size: 16px;
	color: #ff8000;
	vertical-align: left;
	margin: 2% 7% 0% 0%;
	padding: 10px;
	border-style: solid;
	border-color: #C2C1D4;
	border-width: 1px;
	border-radius: 8px;
	font-family: Times New Roman;
}

body {
	/* 	background-image: url("../images/d1.jpg"); */
	border-style: solid;
	border-color: black;
	border-width: 0px;
	height: auto;
	width: auto;
}

#login-dialog {
	width: 260px;
	margin: auto;
	margin-top: 130px;
}

.grid-login {
	background-color: #F2F2F2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 5px 5px 5px 5px;
	width: 120%
}

.menu {
	margin: auto auto 25px auto;
	border-radius: 8px;
}

.menuBasico {
	margin: auto auto auto auto;
	border-radius: 8px;
}

.nameheader {
	font-size: 20px;
	color: orange;
	font-family: Courier New, monospace;
	margin: auto 25% auto auto;
}

.cabecalho {
	font-size: 18px;
	color: orange;
	font-family: Courier New, monospace;
	margin: 0 auto auto 15px;
}

.cabecalhoInfo {
	font-size: 20px;
	color: orange;
	font-family: Courier New, monospace;
	margin: 0px 15px auto 0px;
	vertical-align: middle;
}




.visualizar {
	margin-top: 15px;
}